@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f4f5f9;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

input,
button {
  outline: none;
}

a {
  text-decoration: none;
}

.App {
  position: relative;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;

  --primary-color: #42567a;
  --secondary-color: #c7cdd9;
  --blue-color: #3877ee;
  --pink-color: #ef5da8;
  --white-color: #fff;
  --bg-color: #f4f5f9;
  --border-color: #303e5880;
}
